<link rel="stylesheet" type="text/css" href="stylesheets/form.css">
<form class="login-form" action="/gallery" method="POST">
  <h1>Gallery</h1>
  <input placeholder="image" class="username" name="image" />
  <button class="log-in">Submit</button>
</form>