<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
<header class="header-fixed">
  <div class="header-limiter">
    <nav>
      <a href="./gallery_results">Gallery Results</a>
      <a href="/results">Results</a>
      <a href="./gallery">Gallery</a>
      <a href="/">Weather</a>
    </nav>
  </div>
</header>