<link rel="stylesheet" type="text/css" href="stylesheets/header.css">
<header class="header-fixed">
  <div class="header-limiter">
    <nav>
      <a href="/about">About</a>
      <a href="/">Login</a>
    </nav>
  </div>
</header>