
.container-about {
  position: fixed;
  width: 50vw;
  height: 90vh;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: left;
}

#bg {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
  z-index: -1;
  background-image: url("./bg.jpg");
	background-size: cover;
  background-position: bottom;
  opacity: 0.7;
}

.div-style {
  padding: 50px 80px;
  color: #727272;
  line-height: 1.6;
  max-width: 650px;
  margin: 40px auto;
  background: #ffffff;
}

.h1-style {
  margin: 0 0 30px;
  font-size: 42px;
  line-height: 1;
  color: #252427;
  font-weight: 550;
}

.p-style {
  font-size: 15px;
  margin: 1em 0 1em;
  letter-spacing: 0.06em;
}

.weather-icon {
  top: 50%
}

.pictures {
  height: 100px;
  width: 100px;
  display: inline-block;
}